@media only screen and (max-width: 1350px) {
  .blur-drop1 {
    left: -20rem;
  }
  .brack2 {
    left: 5rem;
  }
  .brack1 {
    left: -5rem;
  }
  .about-subtextbox {
    width: 60%;
  }
}

@media only screen and (max-width: 1150px) {
  .brack2 {
    left: 15rem;
  }
  .brack1 {
    left: 2rem;
  }
  .about-subtextbox {
    width: 90%;
    left: 0%;
  }
}

@media only screen and (max-width: 1000px) {
  .blur-drop1 {
    left: -20rem;
  }
}

@media only screen and (max-width: 950px) {
  .navlist {
    gap: 2rem;
  }
  .hero-content {
    position: relative;
    width: 100%;
    height: 50rem;
    top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero-title {
    font-size: 40px;
    width: 20rem;
  }
  .brack0 {
    top: 17rem;
    left: 22rem;
  }
  .brack3 {
    position: absolute;
    left: 5rem;
    top: 18rem;
    color: rgb(177, 169, 169);
    transform: rotate(-10deg);
  }

  .hero-box {
    position: relative;
    width: 30rem;
    height: 25rem;
  }

  .cube-container {
    width: 400px;
    height: 400px;
    perspective: 500px;
    position: relative;
    top: -2rem;
    left: 3rem;
    transform: scale(0.7);
  }

  .icons-box {
    position: absolute;
    width: 100%;
    height: 3rem;
    top: 39rem;
    display: flex;
    justify-content: center;
  }
  .cta-box {
    top: 45rem;
  }
}

@media only screen and (max-width: 800px) {
  .about-subtext {
    font-size: 1rem;
  }
  .about-subtextbox {
    border: 1px solid white;
    height: auto;
  }
}

@media only screen and (max-width: 750px) {
  .navlist {
    display: none;
  }
  .hamburger {
    display: block !important;
  }

  .logo {
    padding-left: 0.25rem;
  }
}

@media only screen and (max-width: 600px) {
  .blur-drop1 {
    left: -30rem;
  }
}

@media only screen and (max-width: 500px) {
  .hamburger {
    left: 88%;
  }
  .blur-drop1 {
    top: -5rem;
    left: -30rem;
  }
  .hero-title {
    left: 15%;
    top: 3rem;
  }
  .brack2 {
    left: 20rem;
  }
  .brack1 {
    left: 20%;
    top: -2rem;
  }
}

@media only screen and (max-width: 450px) {
  .social {
    font-size: 1.8rem;
  }
  .cta-button {
    transform: scale(0.9);
  }

  .about-subtext {
    font-size: 0.9rem;
  }
  .about-subtextbox {
    border: 1px solid white;
    height: auto;
    width: 90%;
    left: 5%;
  }
}

@media only screen and (max-width: 350px) {
  .brack0 {
    top: 17rem;
    left: 20rem;
  }
  .hero-title {
    font-size: 35px;
    left: 22%;
  }
  .social {
    font-size: 1.5rem;
  }
}
