@media only screen and (max-width: 1350px) {
  .blur-drop1 {
    left: -20rem;
  }
  .brack2 {
    left: 5rem;
  }
  .brack1 {
    left: -5rem;
  }
}

@media only screen and (max-width: 1150px) {
  .brack2 {
    left: 15rem;
  }
  .brack1 {
    left: 2rem;
  }
}

@media only screen and (max-width: 1100px) {
  .about-subtext {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 1000px) {
  .blur-drop1 {
    left: -20rem;
  }
  .skills-inner {
    position: relative;
    width: 100%;
    height: 30rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .skills-icons {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .icon12 {
    position: absolute;
    left: 86%;
    top: -22rem;
  }
  .icon5 {
    position: absolute;
    left: 87%;
    top: -6rem;
  }
  .icon9 {
    position: absolute;
    left: 86%;
    top: -33rem;
  }
  .icon10 {
    position: absolute;
    left: 86%;
    top: -18rem;
  }
  .icon4 {
    position: absolute;
    left: 86%;
    top: -7rem;
  }
  .icon3 {
    position: absolute;
    left: 2rem;
    top: 4rem;
  }
  .icon8 {
    position: absolute;
    left: 2rem;
    top: -12.5rem;
  }
  .icon2 {
    position: absolute;
    left: 1rem;
    top: 4rem;
  }
  .icon7 {
    position: absolute;
    left: 1rem;
    top: 0rem;
  }
  .icon11 {
    position: absolute;
    left: 2rem;
    top: -21rem;
  }
  .icon13 {
    position: absolute;
    left: 85%;
    top: -35rem;
  }
  .icon1 {
    position: absolute;
    left: 0rem;
    top: 3rem;
  }
  .blur-drop1 {
    opacity: 0.1;
  }
  .blur-drop3 {
    opacity: 0.1;
    left: 10%;
    top: 135rem;
  }
  .blur-drop4 {
    opacity: 0.1;
  }
  .blur-drop2 {
    position: absolute;
    left: 60%;
    top: 60rem;
    width: 800px;
    height: 800px;
    opacity: 0.1;
  }
}

@media only screen and (max-width: 950px) {
  .navlist {
    gap: 2rem;
  }
  .hero-content {
    position: relative;
    width: 100%;
    height: 50rem;
    top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero-title {
    font-size: 40px;
    width: 20rem;
  }
  .brack0 {
    top: 17rem;
    left: 22rem;
  }
  .brack3 {
    position: absolute;
    left: 5rem;
    top: 18rem;
    color: rgb(177, 169, 169);
    transform: rotate(-10deg);
  }

  .hero-box {
    position: relative;
    width: 30rem;
    height: 25rem;
  }

  .cube-container {
    width: 400px;
    height: 400px;
    perspective: 500px;
    position: relative;
    top: -2rem;
    left: 3rem;
    transform: scale(0.7);
  }

  .icons-box {
    position: absolute;
    width: 100%;
    height: 3rem;
    top: 39rem;
    display: flex;
    justify-content: center;
  }
  .cta-box {
    top: 45rem;
  }
}

@media only screen and (max-width: 800px) {
  .about-subtext {
    font-size: 1rem;
  }
  .about-subtextbox {
    height: auto;
  }
}

@media only screen and (max-width: 750px) {
  .navlist {
    display: none;
  }
  .hamburger {
    display: block !important;
  }

  .logo {
    padding-left: 0.25rem;
  }
}

@media only screen and (max-width: 700px) {
  .skills-hero {
    transform: scale(0.9);
    left: 5%;
  }
  .skills-box {
    background-color: black;
    width: 100%;
    height: 50rem;
  }
  .cta-box2 {
    top: 8rem;
  }
  .icon-img {
    transform: scale(0.8) !important;
  }
  .blur-drop3 {
    opacity: 0.1;
    left: 10%;
    top: 115rem;
  }
  .about-subtext {
    /* font-size: 1.1rem; */
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .blur-drop1 {
    left: -30rem;
  }
  .about-innerbox {
    top: 5rem;
  }
}

@media only screen and (max-width: 550px) {
  .blur-drop1 {
    left: -30rem;
  }
  .skills-hero {
    transform: scale(0.7);
  }
  .icon-img {
    transform: scale(0.7) !important;
  }
  .skills-herotext {
    padding-bottom: 1rem;
  }
  .list-container {
    padding-top: 1.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .hamburger {
    left: 88%;
  }
  .blur-drop1 {
    top: -5rem;
    left: -30rem;
  }
  .hero-title {
    left: 15%;
    top: 3rem;
  }
  .brack2 {
    left: 20rem;
  }
  .brack1 {
    left: 20%;
    top: -2rem;
  }
  .icon3 {
    left: 0rem;
    top: 4rem;
  }
  .icon2 {
    left: 0rem;
    top: 4rem;
  }
  .icon8 {
    left: 0rem;
    top: -12.5rem;
  }
  .icon11 {
    left: 0rem;
  }
  .icon7 {
    left: 0rem;
    top: 0rem;
  }
  .aboutme {
    height: 55rem;
  }
  .to-top-box {
    top: 50rem;
  }
  .title-box {
    position: relative;
    width: 100%;
    top: 5rem;
    z-index: 300;
  }
  .project-outer-modal {
    top: -1rem;
  }
  .buttonbox {
    top: 37rem;
  }

  .about-innerbox {
    gap: 0;
  }
  .to-top-box {
    top: 1rem;
  }
}

@media only screen and (max-width: 450px) {
  .social {
    font-size: 1.8rem;
  }
  .cta-button {
    transform: scale(0.9);
  }

  .about-subtext {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 400px) {
  .skills-hero {
    left: 5%;
    width: 95%;
    height: 40rem;
  }
  .list-container {
    position: relative;
    left: -7%;
  }
  .project-outer-modal {
    transform: scale(0.9);
  }
}

@media only screen and (max-width: 350px) {
  .brack0 {
    top: 17rem;
    left: 20rem;
  }
  .hero-title {
    font-size: 35px;
    left: 22%;
  }
  .social {
    font-size: 1.5rem;
  }
  .skills-list-left {
    left: -3rem;
    font-size: 1.1rem;
  }
  .skills-list-right {
    left: -3rem;
    font-size: 1.1rem;
  }
  .blur-drop3 {
    opacity: 0.1;
    left: 10%;
    top: 120rem;
    transform: scale(1.3);
  }
}
