@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.app {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.hidden {
  display: none !important;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  background-color: black;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  transition: top 0.3s;
}

.navlist {
  color: white;
  font-family: "Inter";
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  list-style: none;
  /* border: 1px solid red; */
  display: inline-flex;
  margin-right: 5%;
  font-size: 1.2rem;
}
a {
  color: white;
  text-decoration: none;
}

.nav-li {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.nav-li:hover {
  color: rgb(220, 31, 255);
}
.underline {
  display: inline-block;
  position: relative;
}

.underline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(6, 252, 178);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.logo {
  padding-top: 0.75rem;
  padding-left: 2rem;
  cursor: pointer;
}

.front-page {
  background-color: black;
  width: 100%;
  height: 63rem;
  /* border-bottom: 1px solid red; */
}

.blur-drop1 {
  position: absolute;
  left: 0rem;
  top: 10rem;
  width: 800px;
  height: 800px;
  background-color: rgb(45, 184, 215);
  opacity: 0.05;
  border-radius: 20rem;
  filter: blur(50px);
}

.blur-drop2 {
  position: absolute;
  left: 60%;
  top: 70rem;
  width: 800px;
  height: 800px;
  background-color: rgb(45, 184, 215);
  opacity: 0.05;
  border-radius: 20rem;
  filter: blur(50px);
}

.blur-drop3 {
  position: absolute;
  left: 0rem;
  top: 135rem;
  width: 800px;
  height: 800px;
  background-color: rgb(45, 184, 215);
  opacity: 0.05;
  border-radius: 20rem;
  filter: blur(50px);
}

.hero-content {
  position: relative;
  width: 100%;
  height: 40rem;
  /* background-color: green; */
  top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-box {
  position: relative;
  width: 30rem;
  height: 40rem;
  /* border: 1px solid white; */
}

.icons-box {
  position: absolute;
  width: 100%;
  height: 3rem;
  top: 32rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.7rem;
}

.overflow {
  overflow-y: scroll;
}

.social {
  color: rgb(161, 156, 156);
  font-size: 2.5rem;
  cursor: pointer;
  z-index: 50;
  transition: 0.2s ease-in-out;
}
.social:hover {
  color: white;
  padding-bottom: 0.5rem;
  text-shadow: 0px 0px 115px white;
}

.animation-box {
  position: relative;
  width: 30rem;
  height: 40rem;
  /* border: 1px solid white; */
}

@keyframes turn {
  from {
    transform: rotate3d(0, 0, 0, 0);
  }
  to {
    transform: rotate3d(1, 1, 0, 360deg);
  }
}

.cube-container {
  width: 400px;
  height: 400px;
  perspective: 500px;
  position: relative;
  top: 3rem;
  left: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid white; */
}

.cube {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: turn 15s linear infinite;
  background-color: rgb(220, 31, 255);
}

.face {
  width: 200px;
  height: 200px;
  background: skyblue;
  border: 2px solid black;
  position: absolute;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter";
  text-align: center;
  font-size: 2rem;
  transition: transform 500ms;
  color: white;
  box-shadow: 0px 0px 15px rgb(220, 31, 255);
  transition: 0.5s ease-in-out;
  border-radius: 0.5rem;
}

.face:hover {
  opacity: 0.5;
}

.front {
  transform: translateZ(100px);
  background-color: rgb(220, 31, 255);
  border: 2px solid rgb(220, 31, 255);
}

.back {
  transform: translateZ(-100px) rotateY(180deg);
  background-color: rgb(220, 31, 255);
  border: 2px solid rgb(220, 31, 255);
}

.left {
  transform: translateX(-100px) rotateY(-90deg);
  background-color: rgb(220, 31, 255);
  border: 2px solid rgb(220, 31, 255);
}

.right {
  transform: translateX(100px) rotateY(90deg);
  background-color: rgb(220, 31, 255);
  border: 2px solid rgb(220, 31, 255);
}

.top {
  transform: translateY(-100px) rotateX(90deg);
  background-color: rgb(220, 31, 255);
  border: 2px solid rgb(220, 31, 255);
}

.bottom {
  transform: translateY(100px) rotateX(-90deg);
  background-color: rgb(220, 31, 255);
  border: 2px solid rgb(220, 31, 255);
}

@media (prefers-reduced-motion: reduce) {
  .cube {
    animation: none;
    transform: rotate3d(1, 1, 0, 45deg);
  }
}

.purple {
  color: rgb(220, 31, 255);
}

.green {
  color: rgb(6, 252, 178);
  font-family: "Inter";
}

.hero-title {
  position: relative;
  top: 5rem;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  /* background-color: green; */
  display: block;
  width: 25rem;
  font-weight: 900;
}

.fa-code {
  color: white;
  font-size: 3rem;
  transition: 0.3s ease-in-out;
  z-index: 10;
}

.fa-code:hover {
  color: rgb(220, 31, 255);
}

.brack0 {
  position: absolute;
  left: 20rem;
  top: 20rem;
  color: rgb(177, 169, 169);
  transform: rotate(-5deg);
}

.brack1 {
  position: absolute;
  left: -10rem;
  top: 0rem;
  color: rgb(177, 169, 169);
  transform: rotate(10deg);
}
.brack1 {
  position: absolute;
  left: -10rem;
  top: 0rem;
  color: rgb(177, 169, 169);
  transform: rotate(10deg);
}

.brack2 {
  position: absolute;
  left: 0rem;
  top: -3rem;
  color: rgb(177, 169, 169);
  transform: rotate(20deg);
}

.brack3 {
  position: absolute;
  left: 5rem;
  top: 23rem;
  color: rgb(177, 169, 169);
  transform: rotate(-10deg);
}

.hover1 {
  animation: hover1 3s ease-in-out infinite;
}

@keyframes hover1 {
  0% {
    transform: translateX(0.5rem);
  }
  50% {
    transform: translateX(0rem);
  }
  to {
    transform: translateX(0.5rem);
  }
}

.hover4 {
  animation: hover4 6s ease-in-out infinite;
}

@keyframes hover4 {
  0% {
    transform: translateX(0.5rem);
  }
  50% {
    transform: translateX(0rem);
  }
  to {
    transform: translateX(0.5rem);
  }
}

.hover2 {
  animation: hover2 4s ease-in-out infinite;
}

@keyframes hover2 {
  0% {
    transform: translateY(0.5rem);
  }
  50% {
    transform: translateY(0rem);
  }
  to {
    transform: translateY(0.5rem);
  }
}

.hover3 {
  animation: hover3 5s ease-in-out infinite;
}

@keyframes hover3 {
  0% {
    transform: translateY(0.5rem);
  }
  50% {
    transform: translateY(0rem);
  }
  to {
    transform: translateY(0.5rem);
  }
}

.skills-box {
  background-color: black;
  width: 100%;
  height: 63rem;
  border-bottom: 1px solid red;
}

.skills-inner {
  position: relative;
  width: 100%;
  height: 30rem;
  /* border: 1px solid white; */
  top: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-hero {
  position: relative;
  height: 100%;
  width: 30rem;
  /* border: 1px solid red; */
}

.skills-icons {
  position: relative;
  height: 100%;
  width: 30rem;
  /* border: 1px solid blue; */
}

.cta-box {
  position: absolute;
  width: 100%;
  /* border: 1px solid white; */
  height: 4rem;
  top: 42rem;
  display: flex;
  justify-content: center;
}

.cta-button {
  width: 9rem;
  height: 100%;
  background-color: rgb(6, 252, 178);
  border-radius: 0.5rem;
  cursor: pointer;
  z-index: 100;
}

.inner-button {
  position: relative;
  left: -0.3rem;
  top: -0.3rem;
  width: 9rem;
  height: 100%;
  background-color: rgb(220, 31, 255);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  font-family: "Inter";
  font-size: 1.2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.inner-button:hover {
  left: -0rem;
  top: -0rem;
  box-shadow: 0px 0px 10px rgb(220, 31, 255);
}

.skills-herotext {
  color: white;
  font-family: "Inter";
  font-size: 48px;
}

.skills-hero-sidetext {
  padding-top: 1rem;
  color: white;
  font-family: "Inter";
  font-size: 1.3rem;
}

.skills-hero-sidetext2 {
  padding-top: 0.5rem;
  color: white;
  font-family: "Inter";
  font-size: 1.3rem;
}

.skills-list-left {
  color: white;
  list-style: none;
  font-family: "Inter";
  font-size: 1.3rem;
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.skills-list-right {
  color: white;
  list-style: none;
  font-family: "Inter";
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list-container {
  margin-top: 2rem;
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  height: 14rem;
}

.skills-list-left > li:hover {
  color: rgb(220, 31, 255);
  cursor: pointer;
}

.skills-list-right > li:hover {
  color: rgb(220, 31, 255);
  cursor: pointer;
}

.iconstyle {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 4rem;
}

.icon-img {
  /* background-color: cyan; */
  box-shadow: 0px 0px 15px cyan;
  position: relative;
  width: 3rem;
  border-radius: 4rem;
  padding: 0.25rem;
  /* border: 1px solid red; */
  transition: 0.2s ease-in-out;
}

.icon1 {
  position: relative;
  left: 2rem;
  top: 3rem;
}

.icon2 {
  position: relative;
  left: 4rem;
  top: 1rem;
}

.icon3 {
  position: relative;
  left: 4rem;
  top: 6rem;
}

.icon4 {
  position: relative;
  left: 8rem;
  top: 2rem;
}

.icon5 {
  position: relative;
  left: 4rem;
  top: 14rem;
}

.icon6 {
  position: relative;
  left: -18rem;
  top: 11rem;
}

.icon7 {
  position: relative;
  left: -2rem;
  top: 7rem;
}

.icon8 {
  position: relative;
  left: 2rem;
  top: 20rem;
}

.icon9 {
  position: relative;
  left: 15rem;
  top: 20rem;
}

.icon10 {
  position: relative;
  left: -3rem;
  top: 14rem;
}

.icon11 {
  position: relative;
  left: 2rem;
  top: 16rem;
}

.icon12 {
  position: relative;
  left: -4rem;
  top: 8rem;
}

.icon13 {
  position: relative;
  left: 4rem;
  top: 16rem;
}

.hover-random {
  animation: hoverRandom 4s ease-in-out forwards infinite;
}

.hover-random2 {
  animation: hoverRandom 6s ease-in-out forwards infinite;
}

.hover-random3 {
  animation: hoverRandom2 8s ease-in-out forwards infinite;
}

.hover-random4 {
  animation: hoverRandom2 10s ease-in-out forwards infinite;
}

@keyframes hoverRandom {
  0% {
    position: relative;
    transform: translateX(0.25rem);
  }
  50% {
    position: relative;
    transform: translateX(-0.25rem);
  }
  100% {
    position: relative;
    transform: translateX(0.25rem);
  }
}

@keyframes hoverRandom2 {
  0% {
    position: relative;
    transform: translateY(0.25rem);
  }
  50% {
    position: relative;
    transform: translateY(-0.25rem);
  }
  100% {
    position: relative;
    transform: translateY(0.25rem);
  }
}

.cta-box2 {
  position: relative;
  width: 100%;
  /* border: 1px solid white; */
  height: 4rem;
  top: 23rem;
  display: flex;
  justify-content: center;
  z-index: 100;
}

.projects-box {
  background-color: black;
  width: 100%;
  height: 63rem;
  border-bottom: 1px solid red;
}

.projects-innerbox {
  position: relative;
  width: 80vw;
  height: 50rem;
  border: 1px solid white;
  left: 10vw;
  top: 10rem;
}

.projects-herotext {
  color: white;
  font-family: "Inter";
  text-align: center;
  font-size: 48px;
}

.project-outer-modal {
  position: relative;
  width: 21rem;
  height: 35rem;
  left: 40rem;
  top: 3rem;
  /* border: 1px solid white; */
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(
    to left,
    rgb(202, 22, 202),
    rgb(176, 24, 164),
    rgb(14, 184, 214),
    rgb(0, 128, 77),
    rgb(45, 45, 195)
  );
}

.project-modal {
  position: absolute;
  width: 20rem;
  height: 34rem;
  /* left: 40.5rem; */
  top: 0.5rem;
  /* border: 1px solid white; */
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* background-color: black; */
  background-color: rgb(13, 6, 39);
  z-index: 100;
}

.outer-bg {
  position: absolute;
  width: 300%;
  height: 300%;
  border: 1px solid red;
  background: conic-gradient(
    rgb(202, 22, 202),
    rgb(176, 24, 164),
    rgb(14, 184, 214),
    rgb(0, 128, 77),
    rgb(45, 45, 195)
  );
  animation: rotate 8s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.project-sneakimg {
  position: relative;
  width: 100%;
  height: 10rem;
}

.sneakimg {
  position: relative;
  width: 100%;
  height: 100%;
}

.phone-bg {
  position: relative;
  width: 22rem;
  height: 30rem;
  left: -2rem;
  height: auto;
  /* border: 1px solid red; */
}

.project-title {
  color: rgb(220, 31, 255);
  font-family: "Inter";
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
}

.project-title-box {
  position: relative;
  width: 100%;
  height: 2.5rem;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.5rem;
}

.project-description {
  position: relative;
  width: 104%;
  height: 12rem;
  /* border: 1px solid blue; */
  overflow-y: scroll;
  z-index: 10;
  padding-top: 0.5rem;
  margin-left: 0.3rem;
  top: 1.5rem;
}

.project-desc-text {
  color: white;
  font-family: "Inter";
}

.mobile-buttons {
  position: relative;
  width: 100%;
  height: 5rem;
  /* border: 1px solid cyan; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 20;
  gap: 0.4rem;
  margin-top: 2rem;
}

.mob-btn {
  position: relative;
  width: 22.5%;
  height: 75%;
  border-radius: 0.4rem;
  cursor: pointer;
  font-family: "Inter";
  color: white;
  background-color: black;
  border: 1px solid white;
  outline: 0;
}

.mob-white {
  position: relative;
  width: 22.5%;
  height: 75%;
  border-radius: 0.4rem;
  cursor: pointer;
  font-family: "Inter";
  color: black;
  background-color: white;
  border: 1px solid white;
}

.u-stl {
  /* border: 1px solid white; */
  position: relative;
  width: 100%;
  height: 26rem;
}

.tech-used-box {
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  /* border: 1px solid red; */
  height: 100%;
  font-size: 2rem;
  transition: all 0.2s ease-in-out;
}

.tech-box {
  position: relative;
  width: 106%;
  left: 3%;
}

.code-box {
  /* border: 1px solid white; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-logo {
  width: 5rem;
  box-shadow: 0px 0px 50px purple;
  border-radius: 5rem;
  transition: all 0.3s ease-in-out;
}

.github-logo:hover {
  transform: scale(1.1);
}

.demo-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.fa-gear {
  color: white;
  font-size: 3rem;
  animation: rotate 8s infinite linear;
  border-radius: 3rem;
  transition: all 0.2s ease-in-out;
}

.fa-gear:hover {
  font-size: 3.5rem;
  border-radius: 3rem;
  cursor: pointer;
}

.tech-hov:hover {
  transform: scale(1.1);
}
